@import '../public/fonts/fonts.scss';
@import "variaveis.scss";

*{
  font-family: $fontRegular;
  font-size: 15px;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

.avatar{
  border-radius: 50%;
  object-fit: cover;
}

.oculto{
  display: none;
}

input{
  &::placeholder{
     /* chrome, opera, safari e firefox */
    color: $cinza2;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    /*ie 10-11*/
    color: $cinza2;
  }
  &::-ms-input-placeholder {
    color: $cinza2;
  }
}


.desktop {
  display: block;

  @media screen and (max-width: calc($desktopBreakpoint - 1px)) {
    display: none;
  }
}

.mobile {
  display: block;

  @media screen and (min-width: $desktopBreakpoint) {
    display: none;
  }
}

.mensagemValidacao {
  display: block;
  color: $vermelho;
  font-size: 90%;
  margin-top: -15px;
  margin-bottom: 15px;
}


@import "../components/button/button.scss";
@import '../components/button/button.scss';
@import "./paginaPublica.scss";
@import "../components/inputPublico/inputPublico.scss";
@import "../pages/cadastro/cadstro.scss";