.paginaPublica {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
    background-color: $branco;

    .logoContainer {
        position: relative;
        height: 13%;
        width: 100%;
        margin-bottom: 50px;
    }

    .btn {
        margin-top: 15px;
        padding: 10px;
    }

    .rodapePaginaPublica {
        text-align: center;
        margin-top: 24px;

        p {
            color: $cinza3;
            margin: 0px 0px 2px;
        }
        
        a {
            color: $corPrimaria;
            font-family: $fontBold;
        }
    }
}